[submodule "molecular-util"]
	path = molecular-util
	url = https://github.com/cmdrf/molecular-util.git
[submodule "molecular-gfx"]
	path = molecular-gfx
	url = https://github.com/cmdrf/molecular-gfx.git
[submodule "molecular-programgenerator"]
	path = molecular-programgenerator
	url = https://github.com/cmdrf/molecular-programgenerator.git
[submodule "molecular-meshfile"]
	path = molecular-meshfile
	url = https://github.com/cmdrf/molecular-meshfile.git
[submodule "molecular-tools"]
	path = molecular-tools
	url = https://github.com/cmdrf/molecular-tools.git
